/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background-color: #1D1863;
  color: white;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

[data-theme='light'] .heroBanner {
  background-color: #3028A4;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
